.bg-form {
	width: 100%;
	height: 100vh;
	position: fixed;
	display: none;
	place-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(2px);
}

.bg-form--active {
	display: grid;
}

.pop-up-form {
	width: 50%;
	padding: 15px 20px;
	background-color: white;
	border-radius: 15px;
}

.pop-up-form__header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pop-up-form__input-title {
	all: unset;
	width: 100%;
	padding: 5px;
	font-family: "Poppins Bold";
	font-weight: 700;
	font-size: 1.5rem;
}

.pop-up-form__limit {
	font-size: 0.6rem;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.7);
}

.pop-up-form__limit--max {
	font-weight: 600;
	color: rgba(255, 29, 29, 0.7);
}

.pop-up-form__body {
	width: 100%;
	height: 50vh;
}

.pop-up-form__text-area {
	all: unset;
	width: 100%;
	height: 100%;
	padding: 5px;
	font-size: 0.9rem;
	font-weight: 400;
	line-height: 25px;
	word-wrap: break-word;
}

.pop-up-form__footer {
	width: 100%;
	padding: 10px;
	position: relative;
	display: flex;
	justify-content: flex-end;
	gap: 20px;
	background-color: white;
}

.pop-up-form__save,
.pop-up-form__cancel {
	all: unset;
	width: 100px;
	height: 35px;
	text-align: center;
	font-family: "Poppins SemiBold";
	font-size: 0.9rem;
	transition: 0.3s ease;
	cursor: pointer;
}

.pop-up-form__save {
	color: white;
	background-color: var(--primary);
}

.pop-up-form__cancel {
	color: var(--primary);
	border: 2px solid var(--primary);
	box-sizing: border-box;
}

.pop-up-form__save:hover,
.pop-up-form__cancel:hover {
	transform: translateY(-6px);
}
