@use "../../utils/mixin" as mixin;
@use "../../utils/inheritance";

.bg-form {
	@include mixin.dimension(100%, 100vh);
	@include mixin.positioning(fixed, 0);
	display: none;
	place-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(2px);

	&--active {
		display: grid;
		z-index: 20;
	}
}

.pop-up-form {
	width: 50%;
	padding: 20px 25px;
	background-color: white;
	border-radius: 15px;

	@media screen and (max-width: 1050px) {
		width: 70%;
		border-radius: 10px;
	}

	@media screen and (max-width: 600px) {
		width: 80%;
		border-radius: 7px;
		padding: 15px 20px;
	}

	&__header {
		width: 100%;
		@include mixin.flex(space-between, center);
	}

	&__input-title {
		all: unset;
		width: 100%;
		padding-right: 20px;
		@include mixin.font(1.5rem, 700);
	}

	&__limit {
		@include mixin.font(0.6rem, 500);
		color: rgba(0, 0, 0, 0.7);

		&--max {
			@include mixin.font(false, 600);
			color: rgba(255, 29, 29, 0.7);
		}
	}

	&__body {
		@include mixin.dimension(100%, 50vh);

		@media screen and (max-width: 1050px) {
			height: 30vh;
		}
		@media screen and (max-width: 600px) {
			height: 40vh;
		}
	}

	&__text-area {
		all: unset;
		@include mixin.dimension(100%, 90%);
		margin: 10px 0;
		@include mixin.font(0.9rem, 400, 25px);
		text-align: justify;
		word-wrap: break-word;

		@media screen and (max-width: 600px) {
			line-height: 20px;
		}
	}

	&__footer {
		width: 100%;
		padding: 10px;
		position: relative;
		@include mixin.flex(flex-end);
		gap: 20px;
		background-color: white;
	}

	&__save {
		@extend %button;
		@include mixin.coloring(white, var(--primary));

		&:hover {
			transform: translateY(-6px);
		}
	}
	&__cancel {
		@extend %button;
		color: var(--primary);
		border: 2px solid var(--primary);
		box-sizing: border-box;

		&:hover {
			transform: translateY(-6px);
		}
	}
}
