@use "../utils/mixin" as mixin;

#root {
	@include mixin.dimension(100%, 100vh);
	display: grid;
	grid-template-areas: "sidebar content";
	grid-template-columns: 1fr 5fr;

	@media screen and (max-width: 1050px) {
		display: block;
	}
}
