.navigation {
	width: 100%;
	margin-top: 7vh;
	display: flex;
	flex-direction: column;
}

.navigation__list-container {
	width: 100%;
}

.navigation__list-item {
	width: 100%;
	margin-block: 2vh;
	padding: 1.5vh 12%;
	display: flex;
	align-items: center;
	color: white;
	font-family: "Poppins SemiBold";
	cursor: pointer;
	transition: 0.4s ease;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.navigation__list-item:hover {
	background-color: #51856d;
}

.navigation__list-item--active {
	background-color: #426f5b;
	transform: translateX(10px);
}

.navigation__list-item--active:hover {
	background-color: #426f5b;
}

.navigation__icon {
	padding-right: 15px;
}
