.pop-up-notif {
	padding: 10px 20px;
	position: fixed;
	bottom: -10vh;
	left: 50%;
	display: grid;
	justify-content: center;
	align-items: center;
	background-color: var(--accent);
	border-radius: 5px;
	transform: translateX(-50%);
	transition: 0.4s ease;
}

.pop-up-notif--direction {
	bottom: 15px;
}

.pop-up-notif__text {
	color: white;
	font-family: "Poppins Regular";
	font-size: 0.9rem;
}
