@use "../../utils/mixin" as mixin;

.no-note {
	@include mixin.dimension(100%, 100%);
	@include mixin.flex(center, center);
	opacity: 0.4;

	&__icon {
		padding-right: 1.5vw;
		font-size: 4.2rem;
		transform: translateY(11px);
	}

	&__text {
		@include mixin.font(1.2rem, 700, 1.2);
	}
}
