.note {
	width: 100%;
	height: 90vh;
	padding: 2vmax;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	overflow: auto;
}

.note::after {
	content: "";
	width: 83.3%;
	height: 5vh;
	position: fixed;
	bottom: 0;
	right: 0;
	display: block;
	background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.2));
}
